name: Auto Version Tag

on:
  push:
    branches:
      - main

permissions:
  contents: write   # IMPORTANT

jobs:
  tag:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Create Tag
        run: |
          VERSION=1.0.${{ github.run_number }}
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git tag $VERSION
          git push origin $VERSION
